/* components/AgendaTable.css */

.agenda-body {
    max-height: 70vh; /* Menggunakan 50% dari tinggi viewport */
    overflow-y: auto; /* Memungkinkan scrolling vertikal */
}

/* Kustomisasi scrollbar */
.agenda-body::-webkit-scrollbar {
    width: 8px;
}

.agenda-body::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.agenda-body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.agenda-body::-webkit-scrollbar-thumb:hover {
    background: #555;
}