@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.perspective-1000 {
  perspective: 1000px;
  /* Tambahkan ini untuk mencegah kedipan (flicker) */
  -webkit-backface-visibility: hidden;
}

.preserve-3d {
  transform-style: preserve-3d;
  /* Paksa GPU bekerja */
  will-change: transform;
  transform: translateZ(0);
}

.backface-hidden {
  /* Sembunyikan konten yang sedang membelakangi layar agar tidak diproses */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* Memastikan layer terpisah */
  transform: translateZ(0);
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
